/target

# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE 和编辑器配置文件
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 其他配置文件
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# 本地环境变量
.env
*.env

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?

# 其他隐藏文件
*.bak
*.tmp
*.swp
*.swo
